.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.inline{
    display: inline-block;
}
.lineBlue{
    border-bottom: 2px blue solid;
    margin: 2% 0;
}

.imgDelimitada{
        height: 10%;
        width: 100%;
}
